@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    on way road<br />
    <br />
    <abbr title="Phone">P:</abbr>
    +122222222222222
</address>

<address>
    <strong>Support:</strong>   <a href="abcd.com">abcd.com</a><br />
    <strong>Marketing:</strong> <a href="abcd.com">abcd.com</a>
</address>